/* Container for the navigation section */
.navContainer {
  position: fixed; /* Position fixed to make the navigation bar stay in place */
  top: 0; /* Positioned at the top of the viewport */
  left: 0; /* Positioned at the left edge of the viewport */
  width: 100%; /* Spans the full width of the viewport */
  height: 60px; /* Sets the height of the navigation bar */
  display: flex; /* Utilizes flexbox for alignment */
  align-items: center; /* Centers the content vertically */
  justify-content: center; /* Centers the content horizontally */
  z-index: 3; /* Ensures the navigation bar appears above other elements */
  background-color: transparent; /* Transparent background color */
  backdrop-filter: blur(5px); /* Adds a slight blur effect to the background */
  -webkit-backdrop-filter: blur(5px); /* Adds support for Webkit-based browsers */
}

/* The navigation section itself */
.nav {
  width: 98%; /* Occupies 98% of the .navContainer width */
  max-width: 1260px; /* Sets the maximum width of the navigation section */
  height: 100%; /* Matches the height of the .navContainer */
  display: flex; /* Utilizes flexbox for alignment */
  align-items: center; /* Centers the content vertically */
  justify-content: space-between; /* Distributes the content evenly within the .nav section */
  padding: 0 2em; /* Adds horizontal padding */
}

/* Individual sections within the .nav section */
.navLeft,
.navMiddle,
.navRight {
  display: flex; /* Utilizes flexbox for alignment */
  align-items: center; /* Centers the content vertically */
}

/* The .navLeft section */
.navLeft {
  gap: 12px; /* Adds horizontal spacing between elements */
  transition: all 0.15s ease-in-out; /*
