/* Defines a container for the NFT grid with display flex, flex-direction row,
   flex-wrap wrap, gap of 1%, and width of 100% */
.nft-grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1%;
  width: 100%;
}

/* Defines the styles for each NFT container including width, margin, position,
   overflow, border-radius, backface-visibility, transform, display, padding,
   max-height, transition, and cursor properties */
.nft-container {
  width: calc(100% / 5 - 2%); /* Adjusts to 5 items per row on larger screens */
  margin: 8px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  backface-visibility: hidden;
  transform: translate3d(0px, 0px, 0px);
  display: flex;
  flex-direction: column;
  padding: 8px;
  max-height: 382px;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

/* Defines the hover styles for the NFT container, including transform and box-shadow properties */
.nft-container:hover {
  transform: translate3d(0px, -4px, 0px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Defines the title styles for each NFT container, including padding, font-size, and margin-bottom properties */
.title {
  padding: 8px;
  font-size: 3rem;
  margin-bottom: 8px;
}

/* Defines the responsive styles for the NFT container, adjusting the width to 4 items per row on medium screens */
@media (max-width: 1440px) {
  .nft-container {
