.container {
  /* Sets the minimum height to 99vh (viewport height) and minimum width to 96vw (viewport width).
     The width is set to 100% and the height is set to 100% to ensure the container takes up the full available space.
     The display is set to flex with a column direction, and the container is aligned to the center both horizontally and vertically.
     The text alignment is also set to center. The max-width is set to 100vw to prevent the container from exceeding the viewport width. */
  min-height: 99vh;
  min-width: 96vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  contain: paint;
  align-items: center;
  align-self: center;
  text-align: center;
  max-width: 100vw;
}

.content {
  /* Sets the max-width to 1204px and the width to 100%. The margin-left and margin-right are set to 16px. */
  max-width: 1204px;
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
}

.hero {
  /* Sets the padding-bottom to 128px. */
  padding-bottom: 128px;
}

.heroBackground {
  /* Positions the element absolutely, sets the z-index to -1 (behind other elements),
     positions it at the top left corner of the viewport, sets the overflow to hidden,
     and sets the minimum width, maximum width, and height to match the viewport.
     The pointer-events are set to none to make the element unclickable. */
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: hidden;
  min-width: 100vw;
  max-width: 100vw;
  height: clamp(1000px, calc(59.6vw + 776px), 1540px);
  pointer-events: none;
}

.heroBackgroundInner {
  /* Positions the element absolutely, sets the top to -352px, left to 50%,
     and width to match the viewport width. The aspect-ratio is set to 1/1,
     and the transform is set to translateX(-50%) to horizontally center the element. */
  position: absolute;
  top: -352px;
  left: 50%;
  width: clamp(1000px, calc(59.6vw + 776px), 1540px);
  aspect-ratio: 1/1;
  transform: translateX(-50%);
}

.gradient {
  /* Sets the height and width to 100%, and the opacity to 0.76. */
  height: 100%;
  width: 100%;
  opacity: 0.76;
}

.heroAssetFrame {
  /* Displays the flexbox as a row, justifies the content to the center,
     sets the margin to 24px auto 0, and pads the content by 2em. */
  display: flex;
  justify-content: center;
  margin: 24px auto 0;
  padding: 2em;
  overflow: hidden;
}

.heroAsset {
  /* Sets the max-width to 100vw and the margin-bottom to 16px. */
  max-width: 100vw;
  margin-bottom: 16px;
}

.heroBodyContainer {
  /* Sets the width to 100%, pads the content by 0 32px, and sets the margin to 0 auto. */
  width: 100%;
  padding: 0 32px;
  margin: 0 auto;
}

.heroBody {
  /* Positions the element relatively, displays the flexbox as a column,
     aligns the items to the center, and sets the padding to 0 32px. */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroTitle {
  /* Sets the margin-top to a negative value (based on viewport width),
     margin-bottom to 20px, color to white, font-size to a value based on viewport width,
     font-style to normal, font-weight to 700, letter-spacing to 1.2px,
     text-align to center, overflow to visible, and letter-spacing to -0.05em. */
  margin-top: clamp(-30px, calc(-7vw + 57px), 5px);
  margin-bottom: 20px;
  color: #fff;
  font-size: Min(12vw, 80px);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-align: center;
  overflow: visible;
  letter-spacing: -0.05em;
}

.heroTitleGradient {
  /* Padding-right is set to 12px and font-weight is set to 700. */
  padding-right: 12px;
  font-weight: 700;
}

.heroSubtitle {
  /* Sets the max-width to 640px, margin to 0 0 40px, color to a semi-transparent white,
     font-size to a value based on viewport width, letter-spacing to 0.3px,
     line-height to 140%, text-align to center, and transform to translateY(5px). */
  max-width: 640px;
  margin: 0 
