/* Profile header section */
.profileHeader {
}

/* Container for cover image */
.coverImage {
  width: 100%; /* Take up the full width of the container */
  background-color: #272a2d; /* Set the background color to a dark gray */
  height: 300px; /* Set the height of the cover image */
  border-radius: 16px; /* Round the corners of the cover image */
}

/* Profile picture container */
.profilePicture {
  width: 132px; /* Set the width of the profile picture */
  height: 132px; /* Set the height of the profile picture */
  border-radius: 132px; /* Round the corners of the profile picture */
  vertical-align: inherit; /* Vertically align the profile picture */
  outline: 3px solid rgba(2
