.nft-element {
  /* Common styles for all NFT elements */
  color: #fff;
  font-family: inherit;
  vertical-align: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

.nftImage {
  width: 100% !important;
  border-radius: 8px;
  background: rgba(255, 255, 2
